# Copyright (c) 2026 Jan-Willem Smaal <usenet@gispen.org>
# SPDX-License-Identifier: Apache-2.0

menu "Waveform Generator Options"

config WAVEFORM_FREQUENCY
	int "Waveform frequency (Hz)"
	default 1000
	help
	  The target frequency of the generated waveform in Hz.

config AUDIO_SAMPLE_RATE
	int "Sample Rate (Hz)"
	default 44100
	help
	  How many times per second the audio value is updated.

endmenu

source "Kconfig.zephyr"
