/*
 * FRDM-MCXE31B SAI/I2S Configuration
 * Physical Mapping (Header J1 Inner Row):
 * - Pin 1:  Bit Clock (BCK)   -> PTC12
 * - Pin 5:  Data Out (DIN)    -> PTB2
 * - Pin 11: Frame Sync (LRCK) -> PTC13
 */

&sai_0 {
	status = "okay";
	compatible = "nxp,mcux-i2s";
	pinctrl-0 = <&pinmux_sai0>;
	pinctrl-names = "default";
	#address-cells = <1>;
	#size-cells = <0>;
	#pinmux-cells = <2>;
	clocks = <&mc_cgm 0x2a00>; /* MCUX_SAI0_CLK */
	dmas = <&edma 0 55>, <&edma 0 56>; /* RX, TX */
	dma-names = "rx", "tx";
	nxp,rx-dma-channel = <0>;
	nxp,tx-dma-channel = <1>;
	nxp,tx-channel = <1>; /* Bitmask: 1 = Channel 0 (TXD0) */
};

/ {
	aliases {
		i2s-tx = &sai_0;
	};
};

&pinctrl {
	pinmux_sai0: pinmux_sai0 {
		group0 {
			pinmux = <PTC12_SAI0_BCLK_O>,
				 <PTC13_SAI0_SYNC_O>,
				 <PTB2_SAI0_D0_O>;
			slew-rate = "fastest";
			input-enable;
		};
	};
};
